/* REQUEST A DOCUMENT SCREEN */

* {
    font-family: 'Lexend Deca';
}

body.req-doc {
    background-color: white;
    margin: 0;
    user-select: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 20px 30px 0 30px;
}

.navbar .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-logo img {
    max-width: 100%;
    height: 90px;
}

.navbar .nav-buttons {
    display: flex;
    align-items: center;
    max-height: 100px;
    margin-right: 25px;
}

.navbar .nav-buttons button {
    background-color: white;
    border: none;
    font-family: 'Lexend Deca';
    padding-left: 50px; 
    font-size: 18px;
    cursor: pointer;
}

.request-section h1 {
    color: black;
    text-align: center;
    margin: 0;
    font-family: 'Lexend Deca';
    font-size: 60px;
}

.request-section h1 span {
    color: blue;
}

body.req-doc form {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.form-section .input-card {
    display: block;
    width: 550px;
    max-width: 550px;
    height: 120px;
    margin: 20px;
    font-size: 40px;
}

.input-card label {
    margin: 0;
}

.input-card input {
    width: 540px;
    height: 50px;
    font-size: 35px;
    border-color: blue;
    border-width: 1px;
}

.input-card input:focus {
    background-color: lightcyan;
}   

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-card select {
    width: 550px;
    height: 55px;
    margin: 0;
    font-size: 25px;
    border-color: blue;
    border-width: 1px;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.form-section button[type="submit"] {
    width: 450px;
    height: 60px;
    font-size: 25px;
    margin: 0 auto;
    border-color: blue;
    border-width: 1px;
    cursor: pointer;
}

p.note {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

/* END OF REQUEST A DOCUMENT SCREEN */

/* --- */
