/* REQUEST A DOCUMENT SCREEN */

* {
    font-family: 'Lexend Deca';
}

body.req-doc {
    background-color: white;
    margin: 0;
    user-select: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 20px 30px 0 30px;
}

.navbar .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-logo img {
    max-width: 100%;
    height: 90px;
}

.navbar .nav-buttons {
    display: flex;
    align-items: center;
    max-height: 100px;
    margin-right: 10px;
}

.navbar .nav-buttons button {
    background-color: white;
    border: none;
    font-family: 'Lexend Deca';
    font-size: 50px;
    cursor: pointer;
}

.request-section h1 {
    color: black;
    text-align: center;
    margin: 0;
    font-family: 'Lexend Deca';
    font-size: 60px;
}

body.req-doc form {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.form-section .form-columns {
    display: flex;
    justify-content: center;
}

.form-section .input-card {
    display: block;
    width: 550px;
    max-width: 550px;
    height: 120px;
    margin: 10px 20px 20px;
    font-size: 40px;
}

.input-card label {
    margin: 0;
}

.input-card input {
    width: 545px;
    height: 50px;
    font-size: 35px;
    border-color: blue;
    border-width: 1px;
}

.input-card input:focus {
    background-color: lightcyan;
}   

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-card select {
    width: 550px;
    max-width: 550px;
    height: 55px;
    margin: 0;
    font-size: 25px;
    border-color: blue;
    border-width: 1px;
    cursor: pointer;
}

.input-card select option {
    cursor: pointer;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.form-section button[type="submit"] {
    width: 450px;
    height: 60px;
    font-size: 25px;
    margin: 0 auto;
    border-color: blue;
    border-width: 1px;
    cursor: pointer;
}

p.note {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-top: 15px;
}

/* Input Suggestion (Name Part) */
.suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    width: 545px;
    z-index: 100;
    font-size: 35px;
}

.suggestion-item {
    padding: 5px 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: blue;
    color: white;
}

/* DOCUMENT NOTE */
.doc-note {
    background-color: rgb(189, 236, 252); 
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Confirm Modal */
#confirmModal .modal-box {
    background: #fff;
    padding: 70px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}

#confirmModal .modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#confirmModal .modal-actions button {
    font-size: 20px;
    padding: 16px 32px;
    cursor: pointer;
}

#confirmModal .modal-actions #confirmBtn {
    background-color: lightskyblue;
}

/* Success Modal */
#successModal .modal-box {
    background: #fff;
    padding: 0 70px;
    height: 580px;
    max-width: 1000px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}

#successModal .modal-header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#successModal h3 {
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 38px;
}

#successModal img {
    height: 150px;
    width: fit-content;
    margin: 5px;
}

.modal-header p {
    margin: 0;
}

.refCode-container {
    margin: 15px 0;
}

.refCode-container p {
    margin: 0;
}

h2#refCode {
    background-color: rgb(189, 236, 252); 
    border-radius: 6px;
    margin: 0;
    font-size: 55px;
}

#successModal p.note {
    margin-top: 40px;
}

#successModal .modal-actions {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

#successModal .modal-actions button {
    font-size: 25px;
    padding: 20px 70px;
    margin: 0 130px;
    cursor: pointer;
    border-radius: 6px;
}

#successModal .modal-actions #doneBtn {
    background-color: lightskyblue;
}

/* EXISTS MODAL - CONSISTENT STYLE */

#existsModal .modal-box {
    background: #fff;
    padding: 70px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}

#existsModal p:nth-child(1) {
    color: #c62828;
    font-weight: 600;
}

#existsModal .modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#existsModal .modal-actions button {
    font-size: 20px;
    padding: 16px 40px;
    cursor: pointer;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 6px;
}




/* END OF REQUEST A DOCUMENT SCREEN */

/* --- */