/* SUBMISSION CONFIRMATION PAGE */

* {
    font-family: 'Lexend Deca';
}

body {
    background-color: white;
    margin: 0;
    user-select: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 20px 30px 0 30px;
}

.navbar .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-logo img {
    max-width: 100%;
    height: 90px;
}

.navbar .nav-buttons {
    display: flex;
    align-items: center;
    max-height: 100px;
    margin-right: 25px;
}

.navbar .nav-buttons button {
    background-color: white;
    border: none;
    font-family: 'Lexend Deca';
    padding-left: 50px; 
    font-size: 18px;
    cursor: pointer;
}

.success-section h1 {
    color: black;
    text-align: center;
    margin: 0;
    font-family: 'Lexend Deca';
    font-size: 60px;
}

.success-section p {
    text-align: center;
    font-size: 28px;
    margin: 50px 0;
}

.refno-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.label-container, .input-container, .btn-container {
    display: flex;
    justify-content: center;
}

.refno-section label {
    font-size: 40px;
}

.refno-section input {
    width: 700px;
    height: 60px;
    font-size: 38px;
    text-align: center;
    border-color: blue;
    border-width: 1px;
    cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p.note {
    text-align: center;
    font-size: 28px;
}

/* END OF SUBMISSION CONFIRMATION PAGE */

/* --- */